[rpg]

	[state-mod]
		name="blessed"
		display_name=_( "blessed" )
		type=good
		setstate=_( "%s is blessed" )
		unsetstate=_( "%s is not blessed anymore" )
	[/state-mod]
	[state-mod]
		name="empowered"
		display_name=_( "empowered" ) 
		type=good
		setstate=_( "%s is empowered" )
		unsetstate=_( "%s is not empowered anymore" )
	[/state-mod]
	[state-mod]		
		name="enraged" 
		display_name=_( "enraged" ) 
		type=good
		setstate=_( "%s is enraged" )
		unsetstate=_( "%s is not enraged anymore" )
	[/state-mod]
	[state-mod]		
		name="ac_protected"
		display_name=_( "ac_protected" ) 		
		type=good
		setstate=_( "%s is protected" )
		unsetstate=_( "%s is not protected anymore" )
	[/state-mod]
	[state-mod]		
		name="magic_protected"
		display_name=_( "magic_protected" )
		type=good
		setstate=_( "%s is protected against magic" )
		unsetstate=_( "%s is not protected against magic anymore" )
	[/state-mod]
	[state-mod]		
		name="drunk"
		display_name=_( "drunk" ) 
		type=bad
		setstate=_( "%s is drunk" )
		unsetstate=_( "%s is not drunk anymore" )
	[/state-mod]
	[state-mod]		
		name="poisoned"
		display_name=_( "poisoned" ) 
		type=bad
		setstate=_( "%s is poisoned" )
		unsetstate=_( "%s is not poisoned anymore" )
	[/state-mod]
	[state-mod]		
		name="cursed"
		display_name=_( "cursed" ) 
		type=bad
		setstate=_( "%s is cursed" )
		unsetstate=_( "%s is not cursed anymore" )
	[/state-mod]
	[state-mod]		
		name="possessed"
		display_name=_( "possessed" ) 
		type=bad
		setstate=_( "%s is possessed" )
		unsetstate=_( "%s is not possessed anymore" )
	[/state-mod]
	[state-mod]		
		name="blinded"
		display_name=_( "blinded" ) 
		type=bad
		setstate=_( "%s is blinded" )
		unsetstate=_( "%s is not blinded anymore" )
	[/state-mod]
	[state-mod]		
		name="paralysed"
		display_name=_( "paralysed" ) 
		type=bad
		setstate=_( "%s is paralysed" )
		unsetstate=_( "%s is not paralysed anymore" )
	[/state-mod]
	[state-mod]		
		name="invisible"
		display_name=_( "invisible" )
		type=good
		setstate=_( "%s is invisible" )
		unsetstate=_( "%s is not invisible anymore" )
	[/state-mod]
	[state-mod]		
		name="overloaded"
		display_name=_( "overloaded" ) 
		type=bad
		setstate=_( "%s is overloaded" )
		unsetstate=_( "%s is not overloaded anymore" )
	[/state-mod]
	[state-mod]		
		name="dead"
		display_name=_( "dead" ) 
		type=bad
		setstate=_( "%s is dead" )
		unsetstate=_( "%s is resurrected" )
	[/state-mod]
	[state-mod]		
		name="asleep"
		display_name=_( "asleep" )
		type=bad
		setstate=_( "%s is asleep" )
		unsetstate=_( "%s is awake" )
	[/state-mod]

	[group]
		name="BASIC_GROUP"
		display_name=_( "BASIC_GROUP" )
		description=_( "BASIC_GROUP" )
		[skill]
			name="SPEED"
			display_name=_( "SPEED" )
			description=_( "Speed determines how fast the character is able to cast a spell or swing a sword." )
			symbol=_( "Dragon" )
		[/skill]
		[skill]
			name="COORDINATION"
			display_name=_( "COORDINATION" )
			description=_( "More coordinated characters are able to deflect more damage using armor." )
			symbol=_( "Wolf" )
		[/skill]
		[skill]
			name="POWER"
			display_name=_( "POWER" )
			description=_( "The higher a character's power the more damage his/her attach will cause." )
			symbol=_( "Troll" )
		[/skill]
		[skill]
			name="IQ"
			display_name=_( "IQ" )
			description=_( "A character with higher IQ is better suited to spellcasting." )
			symbol=_( "Boar" )
		[/skill]
		[skill]
			name="LEADERSHIP"
			display_name=_( "LEADERSHIP" )
			description=_( "Leadership determines bartering power and rallies your troops in battle." )
			symbol=_( "Bear" )
		[/skill]
		[skill]
			name="LUCK"
			display_name=_( "LUCK" )
			description=_( "Luck affects almost all aspects of gameplay from spellcasting to unlocking doors." )
			symbol=_( "Fiend" )
		[/skill]
		[skill]
			name="PIETY"
			display_name=_( "PIETY" )
			description=_( "A pious character follows his/her deity's wishes more closely." )
			symbol=_( "Tiger" )
		[/skill]
		[skill]
			name="LORE"
			display_name=_( "LORE" )
			description=_( "Using lore a character is able identify items more easily and understand new concepts." )
			symbol=_( "Hydra" )
		[/skill]
	[/group]
	[group]
		name="FIGHT_GROUP"
		display_name=_( "FIGHT_GROUP" )
		description=_( "FIGHT_GROUP" )
		[skill]
			name="MELEE_WEAPON"
			display_name=_( "MELEE_WEAPON" )
			description=_( "This is your combat skill for close quarters. Most basic weapons fall in this category." )
			symbol=_( "Drake" )
			prereq_multiplier=2
			prereq_skills="COORDINATION,POWER"
		[/skill]
		[skill]
			name="RANGED_WEAPON"
			display_name=_( "RANGED_WEAPON" )
			description=_( "This skill is used when fighting using a bow-type weapon." )
			symbol=_( "Sparrow" )
			prereq_multiplier=2
			prereq_skills="COORDINATION"
		[/skill]
		[skill]
			name="LARGE_WEAPON"
			display_name=_( "LARGE_WEAPON" )
			description=_( "This skill is used when fighting using over-sized weapons." )
			symbol=_( "King" )
			prereq_multiplier=3
			prereq_skills="POWER"
		[/skill]
		[skill]
			name="HAND_TO_HAND_COMBAT"
			display_name=_( "HAND_TO_HAND_COMBAT" )
			description=_( "This skill is used when fighting with bare hands." )
			symbol=_( "Priest" )
		[/skill]
	[/group]
	[group]
		name="DEFEND_GROUP"
		display_name=_( "DEFEND_GROUP" )
		description=_( "DEFEND_GROUP" )
		[skill]
			name="SHIELD_DEFEND"
			display_name=_( "SHIELD_DEFEND" )
			description=_( "This skill is used when using a shield to deflect an attack." )
			symbol=_( "Giant" )
			prereq_multiplier=2
			prereq_skills="COORDINATION"
		[/skill]
		[skill]
			name="ARMOR_DEFEND"
			display_name=_( "ARMOR_DEFEND" )
			description=_( "This skill is used when using armor to deflect an attack." )
			symbol=_( "Centaur" )
			prereq_multiplier=2
			prereq_skills="COORDINATION"
		[/skill]
		[skill]
			name="DODGE_ATTACK"
			display_name=_( "DODGE_ATTACK" )
			description=_( "This skill lets you side-step or otherwise avoid being hit by an attacker." )
			symbol=_( "Serpent" )
		[/skill]
	[/group]
	[group]
		name="SORCERY_GROUP"
		display_name=_( "SORCERY_GROUP" )
		description=_( "SORCERY_GROUP" )
		[skill]
			name="LIFE_AND_DEATH_MAGIC"
			display_name=_( "LIFE_AND_DEATH_MAGIC" )
			description=_( "This skill describes your proficiency with spells from the school of life and death." )
			symbol=_( "Sand" )
			prereq_multiplier=1
			prereq_skills="IQ"
		[/skill]
		[skill]
			name="DECEIT_MAGIC"
			display_name=_( "DECEIT_MAGIC" )
			description=_( "This skill describes your proficiency with spells from the school of deceit." )
			symbol=_( "Joker" )
			prereq_multiplier=1
			prereq_skills="IQ"
		[/skill]
		[skill]
			name="CONFRONTATION_MAGIC"
			display_name=_( "CONFRONTATION_MAGIC" )
			description=_( "This skill describes your proficiency with spells from the school of confrontation." )
			symbol=_( "Demon" )
			prereq_multiplier=1
			prereq_skills="IQ"
		[/skill]
		[skill]
			name="RESIST_LIFE_AND_DEATH_MAGIC"
			display_name=_( "RESIST_LIFE_AND_DEATH_MAGIC" )
			description=_( "Having this skill helps you resist spells from the school of life and death." )
			symbol=_( "Gods" )
			prereq_multiplier=1
			prereq_skills="IQ"
		[/skill]
		[skill]
			name="RESIST_DECEIT_MAGIC"
			display_name=_( "RESIST_DECEIT_MAGIC" )
			description=_( "Having this skill helps you resist spells from the school of deceit." )
			symbol=_( "Night" )
			prereq_multiplier=1
			prereq_skills="IQ"
		[/skill]
		[skill]
			name="RESIST_CONFRONTATION_MAGIC"
			display_name=_( "RESIST_CONFRONTATION_MAGIC" )
			description=_( "Having this skill helps you resist spells from the school of confrontation." )
			symbol=_( "Angel" )
		[/skill]
	[/group]
	[group]
		name="SPIRIT_GROUP"
		display_name=_( "SPIRIT_GROUP" )
		description=_( "SPIRIT_GROUP" )
		[skill]
			name="NATURE_MAGIC"
			display_name=_( "NATURE_MAGIC" )
			description=_( "This skill describes your proficiency with spells from the school of nature." )
			symbol=_( "Pixie" )
			prereq_multiplier=2
			prereq_skills="PIETY,IQ"
		[/skill]
		[skill]
			name="AWARENESS_MAGIC"
			display_name=_( "AWARENESS_MAGIC" )
			description=_( "This skill describes your proficiency with spells from the school of awareness." )
			symbol=_( "Void" )
			prereq_multiplier=2
			prereq_skills="PIETY,IQ"
		[/skill]
		[skill]
			name="RESIST_NATURE_MAGIC"
			display_name=_( "RESIST_NATURE_MAGIC" )
			description=_( "Having this skill helps you resist spells from the school of nature." )
			symbol=_( "Law" )
			prereq_multiplier=2
			prereq_skills="PIETY,IQ"
		[/skill]
		[skill]
			name="RESIST_AWARENESS_MAGIC"
			display_name=_( "RESIST_AWARENESS_MAGIC" )
			description=_( "Having this skill helps you resist spells from the school of awareness." )
			symbol=_( "Moth" )
		[/skill]
	[/group]
	[group]
		name="LORE_GROUP"
		display_name=_( "LORE_GROUP" )
		description=_( "LORE_GROUP" )
		[skill]
			name="HISTORY_MAGIC"
			display_name=_( "HISTORY_MAGIC" )
			description=_( "This skill describes your proficiency with spells from the school of history." )
			symbol=_( "Helix" )
			prereq_multiplier=2
			prereq_skills="LORE,IQ"
		[/skill]
		[skill]
			name="RESIST_HISTORY_MAGIC"
			display_name=_( "RESIST_HISTORY_MAGIC" )
			description=_( "Having this skill helps you resist spells from the school of history." )
			symbol=_( "Brand" )
			prereq_multiplier=2
			prereq_skills="LORE,IQ"
		[/skill]
		[skill]
			name="ENCHANT_ITEM"
			display_name=_( "ENCHANT_ITEM" )
			description=_( "Your proficiency with this skill determines how well you create enchanted items." )
			symbol=_( "Sorcerer" )
			prereq_multiplier=2
			prereq_skills="LORE"
		[/skill]
		[skill]
			name="IDENTIFY_ITEM"
			display_name=_( "IDENTIFY_ITEM" )
			description=_( "This skill measures your ability to identify new items." )
			symbol=_( "Sage" )
			prereq_multiplier=2
			prereq_skills="LORE"
		[/skill]
		[skill]
			name="IDENTIFY_CREATURE"
			display_name=_( "IDENTIFY_CREATURE" )
			description=_( "This skill measures your ability to identify new creatures." )
			symbol=_( "Loremaster" )
		[/skill]
	[/group]
	[group]
		name="STEALTH_GROUP"
		display_name=_( "STEALTH_GROUP" )
		description=_( "STEALTH_GROUP" )
		[skill]
			name="OPEN_LOCK"
			display_name=_( "OPEN_LOCK" )
			description=_( "A character with this skill can open locked doors better." )
			symbol=_( "Shade" )
			prereq_multiplier=2
			prereq_skills="LUCK,SPEED"
		[/skill]
		[skill]
			name="FIND_TRAP"
			display_name=_( "FIND_TRAP" )
			description=_( "This skill helps you avoid falling into traps." )
			symbol=_( "Bard" )
			prereq_multiplier=2
			prereq_skills="LUCK,SPEED"
		[/skill]
		[skill]
			name="FIND_SECRET_DOOR"
			display_name=_( "FIND_SECRET_DOOR" )
			description=_( "This skill lets you find secret doors." )
			symbol=_( "Scion" )
			prereq_multiplier=2
			prereq_skills="LUCK,SPEED"
		[/skill]
		[skill]
			name="MOVE_UNDETECTED"
			display_name=_( "MOVE_UNDETECTED" )
			description=_( "With the aid of this skill you can move without your enemies detecting you." )
			symbol=_( "Silence" )
			prereq_multiplier=1
			prereq_skills="COORDINATION,SPEED"
		[/skill]
		[skill]
			name="STEALING"
			display_name=_( "STEALING" )
			description=_( "The higher you progress in this still the better you're able to lift items from merchants." )
			symbol=_( "Thief" )
			prereq_multiplier=1
			prereq_skills="LUCK,SPEED"
		[/skill]
	[/group]
	
	# ===================================================================
	# Syllables used for NPC name generation.
	[names]
		first="Mar,Nar,Dar,Tar,Got,For,Tog,Rom,Ner,Nuir,Run,Hor"
		middle="mi,ni,gi,di,ri,ti,ki,ci,bi,gi,li,me,ne,ge,de,re,te,ke,ce,be,ge,le,mo,no,go,do,ro,to,ko,co,bo,go,lo,ma,na,ga,da,ra,ta,ka,ca,ba,ga,la,mi,ni,gi,di,ri,ti,ki,ci,bi,gi,li,mes,nes,ges,dez,ser,ber,ter,mer,kat,rat,gat,gor,mor,dor,for,tor,kul,tul,dul,dur,sur,zur,ret,net,met,meot,leot,feot,deot,geot,raul,saul,maul,daul,gaul,zaul,baul,laun,noer,moer,doer,riol,biol,diol,guir,duir,luin,luin"
		last="nil,gil,sil,dil,bil,ril,goth,moth,soth,roth,foth,duin,ruin,muin,suin,xuin,rein,fein,gein,dein,sein,da,ra,ga,ro,go,do,mo,so,xo,to"
	[/names]
[/rpg]

