BODY { 
  background: white; 
  font-size: 10pt; 
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  margin: 15px;
}

.invertBlock {
  background: rgb(200, 100, 255);
  padding: 5px;
  font-weight: bold;
  color: rgb(235, 220, 255);
}

.block {
  background: rgb(235, 220, 255);
  border: rgb(200, 100, 255) 2px solid;
  padding: 10px;
}

A {
  text-decoration: none;
  font-weight: bold;
  color: rgb(80, 30, 100);
}

A:hover {
  text-decoration: none;
  font-weight: bold;
  background: rgb(80, 30, 100);
  color: white;
}

img { 
  /* border: rgb(200, 100, 255) 2px solid; */
}
